<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--监听端口-->
    <add key="Port" value="8088"/>

    <!--是否需要客户端登录-->
    <add key="NeedLogin" value="true"/>
    <!--账号-->
    <add key="Account" value="admin"/>
    <!--密码-->
    <add key="Password" value="123456"/>
    <!--单个目录最大体积(MB)-->
    <add key="MaxIndexDirSize" value="1024"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
